{% extends "template.html" %}
{% block title %}
Create Post
{%endblock%}

{%block head%}
<script defer type="text/javascript" src="{{url_for('static',filename='Javascript/CreatePost.js')}}"></script>
{%endblock%}

{%block body%}
<h1 class="display-1 text-center"> Create a Post </h1><br><br>

<form id="Postform">
<div class="row mb-3">
  <label for="colFormLabel" class="col-sm-2 col-form-label">Post Title</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" id="Title" placeholder="Title of the Post">
  </div><br><br>
</div>
<div class="row">
  <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Post Description</label>
  <div class="col-sm-10">
    <input type="text" class="form-control form-control-lg" id="Content" placeholder="Description of the Post">
  </div>
</div><br><br>
<fieldset class="row mb-3">
    <legend class="col-form-label col-sm-2 pt-0">Post Type</legend>
    <select class="form-select" aria-label="Default select example" id="Type">
      <option selected value="Default">Select a Post Type</option >
      <option value="General">General</option>
      <option value="Question">Questions</option>
    </select>
  </fieldset><br><br>
  <fieldset class="row mb-3">
    <legend class="col-form-label col-sm-2 pt-0">Post Room</legend>
    <select id="RoomName"> </select> 
  </fieldset><br><br>
</form>
<button id="btn">Submit</button>
<div class="spinner-border text-danger" role="status" id="loading" style="display: none;">
  <span class="visually-hidden">Loading...</span>
</div>

{%endblock%}
