{% extends "template.html" %}

{% block title %}
Login
{%endblock%}

{%block head%}
<script defer type="text/javascript" src="{{url_for('static',filename='Javascript/LoginValidate.js')}}"></script>
{%endblock%}

{%block body%}

<div class="danger alert mt-3" id="alert" style = "{{msg}}">
    <div class="content">
      <div class="icon">
        <svg height="50" viewBox="0 0 512 512" width="50" xmlns="http://www.w3.org/2000/svg"><path fill="#fff" d="M449.07,399.08,278.64,82.58c-12.08-22.44-44.26-22.44-56.35,0L51.87,399.08A32,32,0,0,0,80,446.25H420.89A32,32,0,0,0,449.07,399.08Zm-198.6-1.83a20,20,0,1,1,20-20A20,20,0,0,1,250.47,397.25ZM272.19,196.1l-5.74,122a16,16,0,0,1-32,0l-5.74-121.95v0a21.73,21.73,0,0,1,21.5-22.69h.21a21.74,21.74,0,0,1,21.73,22.7Z"/></svg>
    </div>
      <div id="error">invalid Credentials</div>
    </div>
    <button class="close" id="close" onclick="err()">
     <svg height="18px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="18px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="#69727D" d="M437.5,386.6L306.9,256l130.6-130.6c14.1-14.1,14.1-36.8,0-50.9c-14.1-14.1-36.8-14.1-50.9,0L256,205.1L125.4,74.5  c-14.1-14.1-36.8-14.1-50.9,0c-14.1,14.1-14.1,36.8,0,50.9L205.1,256L74.5,386.6c-14.1,14.1-14.1,36.8,0,50.9  c14.1,14.1,36.8,14.1,50.9,0L256,306.9l130.6,130.6c14.1,14.1,36.8,14.1,50.9,0C451.5,423.4,451.5,400.6,437.5,386.6z"/></svg>
    </button>
  </div>
</div>

<div class="form-body container col-xl-8 col-lg-8 col-md-10 col-sm-12 col-12 mt-5">
    <div class="row">
        <div class="form-holder">
            <div class="form-content container col-12">
                <div class="form-items container col-12">
                    <h2><b>Login In</b></h2>
                    <p>Fill in the data below.</p>
                    <div class="container">
                        <form method="post" id="loginform">
                            <div class="col-12">
                                <label class="mt-4 mr-1" for="Username"><h5>Username</h5></label>
                                <input class="form-control" type="text" name="Username" placeholder="Enter your Username" id="Username" required>
                            </div>
    
                            <div class="col-12">
                                <label class="mt-4 mr-1" for="Password"><h5>Password</h5></label>
                                <input class="form-control" type="password" name="Password" placeholder="Enter your Password" id="Password" required>
                            </div>
    
                            <div class="col-12">
                                <label class="mt-4 mr-1" for="lastname"><h6>Show Password</h6></label>
                                <input type="checkbox" onclick="ShowPassword()">
                            </div>

                            <div class="form-button mt-3">
                                <button id="submit" type="submit" class="btn btn-primary mt-3" style="float: right;" onclick="LoginValidate()">Login</button>
                            </div>    
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="spinner-div" class="hidden">
    <div class="spinner-border text-primary" role="status">
    </div>
</div>

<style>
     @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

*, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;   
}

html, body {
    height: 100%;
    background-color: #64c2e8;
    opacity: 100%;
    background-image:  radial-gradient(#1b1e27 2px, transparent 2px), radial-gradient(#1b1e27 2px, #64c2e8 2px);
    background-size: 80px 80px;
    background-position: 0 0,40px 40px;
}

.form-holder {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
}

.form-holder .form-content {
    text-align: center;
    display: -webkit-box;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 45px;
    background-color: #fff;
    border-radius: 2%;
}

.form-content .form-items {
    border: 2px solid #1b1e27;
    border-radius: 2%;
    padding: 20px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.form-content h3 {
    color: #1b1e27;
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-content h3.form-title {
    margin-bottom: 30px;
}

.form-content p {
    color: #1b1e27;
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
}


.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
    color: #1b1e27;
}

.form-content input[type=text], .form-content input[type=password], .form-content input[type=email], .form-content select {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 3px solid #1b1e27;
    outline: 0;
    border-radius: 6px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn-primary{
    background-color: #1b1e27;
    outline: none;
    border: 0px;
    box-shadow: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: #495056;
    outline: none !important;
    border: none !important;
    box-shadow: none;
}

.form-content textarea {
    width: 100%;
    padding: 8px 20px;
    border-radius: 6px;
    text-align: left;
    background-color: #1b1e27;
    border: 0;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    height: 120px;
    -webkit-transition: none;
    transition: none;
    margin-bottom: 14px;
}

.form-content textarea:hover, .form-content textarea:focus {
    border: 0;
    background-color: #ebeff8;
    color: #8D8D8D;
}

.mv-up{
    margin-top: -9px !important;
    margin-bottom: 8px !important;
}

#alert{
  display: flex;
  align-items:center;
  padding: 0.55rem 0.65rem 0.55rem 0.75rem;
  border-radius:1rem;
  min-width:100px;
  margin-left: 15%;
  max-width: 70%;
  justify-content: space-between;
  margin-bottom: 2rem;
  box-shadow:
  0px 3.2px 13.8px rgba(0, 0, 0, 0.02),
  0px 7.6px 33.3px rgba(0, 0, 0, 0.028),
  0px 14.4px 62.6px rgba(0, 0, 0, 0.035),
  0px 25.7px 111.7px rgba(0, 0, 0, 0.042),
  0px 48px 208.9px rgba(0, 0, 0, 0.05),
  0px 115px 500px rgba(0, 0, 0, 0.07)
}
.content{
  display: flex;
  align-items:center;
}
.icon{
  padding: 0.5rem;
  margin-right: 1rem;
  border-radius:39% 61% 42% 58% / 50% 51% 49% 50%;
  box-shadow:
  0px 3.2px 13.8px rgba(0, 0, 0, 0.02),
  0px 7.6px 33.3px rgba(0, 0, 0, 0.028),
  0px 14.4px 62.6px rgba(0, 0, 0, 0.035),
  0px 25.7px 111.7px rgba(0, 0, 0, 0.042),
  0px 48px 208.9px rgba(0, 0, 0, 0.05),
  0px 115px 500px rgba(0, 0, 0, 0.07)
}
.close{
  background-color: transparent;
  border:none;
  outline:none;
  transition:all 0.2s ease-in-out;
  padding: 0.75rem;
  border-radius:0.5rem;
  cursor:pointer;
  display: flex;
  align-items:center;
  justify-content: center;
}
.close:hover{
  background-color: #fff;
}

.danger{
  background-color: rgba(236, 77, 43, 0.2);
  border:2px solid #EC4D2B;
}
.danger .icon{
  background-color: #EC4D2B;
}

#msgs{
    justify-content: center;
    align-items: center;
    text-align: center;
}

#spinner-div{    
 position:fixed;
 padding:0;
 margin:0;
 justify-content: center;
 align-items: center;
 top:0;
 left:0;
 width: 100vw;
 height: 100vh;
 background:rgba(255,255,255,0.5);
 }

 .spinner-border{
    width: 6rem;
    height: 6rem;
    border-right-color: transparent;
    border-radius: 50%;
 }

 .hidden {
    display: none;
    }

.show{
   display: flex;
  }
</style>

{%endblock%}