{% extends "templateNav.html" %}

{% block title %}
Post Page
{%endblock%}

{%block head%}
<script defer type="text/javascript" src="{{url_for('static',filename='Javascript/PostPage.js')}}"></script>
{%endblock%}

{%block body%}
<div id="post"> 
    <div class="spinner-border text-danger" role="status" id="loading">
        <span class="visually-hidden">Loading...</span>
    </div>

<div id="title"> </div>

<div id="content"></div>

<div id="user"> 
    <a id="userlink"></a>
</div>

<div id="type"></div>

<div id="postedat"></div>

<div id="views"></div>

</div>

{%endblock%}