{% extends "templateNav.html" %}

{% block title %}
Profile
{%endblock%}

{%block head%}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='CSS/Rooms.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='CSS/profile.css')}}">
    <script type="text/javascript" src="{{url_for('static',filename='Javascript/ProfilePage.js')}}"></script>
    <style>
        h3{
            text-align: center;
        }
    </style>
{%endblock%}

{%block body%}
<body onload="GetProfile();GetUserPost()">

    <br><br>
    
    
      <div class="ibox-contentform2">
      
    
        <div class="card mb-3">
          <div class="card-body">
            <h2>Profile</h2>
            <br>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">User Name</h6>
              </div>
              <div class="col-sm-9 text-secondary" id="username">
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">First Name</h6>
              </div>
              <div class="col-sm-9 text-secondary" id="firstname">
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Last Name</h6>
              </div>
              <div class="col-sm-9 text-secondary" id="lastname">
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Year</h6>
              </div>
              <div class="col-sm-9 text-secondary" id="year">
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Course</h6>
              </div>
              <div class="col-sm-9 text-secondary" id="course">
              </div>
            </div>
           
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Joined At:</h6>
              </div>
              <div class="col-sm-9 text-secondary" id="joinedat">
              </div>
            </div>
    
            <hr>
            <div class="row">
              <div class="col-sm-12">
                <!--a class="btn btn-primary1" target="__blank" href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Edit</a-->
              </div>
            </div>
          </div>
        </div>
        </div>
        </div>
        <br><br>
    
        <div class="ibox-contentform3">
          
        
        <div class="ibox-content1 forum-container" id="body">
          <h2>User Posts</h2>
    
      </div>
    
                </div>
            </div>
        </div>
        <br><br>

</body> 
{%endblock%}