{% extends "template.html" %}

{% block title %}
Profile
{%endblock%}

{%block head%}
    <link href="{{url_for('static', filename='Fonts/fontawesome.min.css')}}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='CSS/Rooms.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='CSS/profile.css')}}">
    <style>
        h3{
            text-align: center;
        }
    </style>
{%endblock%}

{%block body%}
<body onload="GetProfile();GetUserPost()">

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid"> 
          <a class="navbar-brand" href="demo.html"><b>College buddies</b></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item1">
                <a class="nav-link active" aria-current="page" href="form.html"><b>Upload Posts</b></a>
              </li>
              <li class="nav-item"  id="rooms">
                <a class="nav-link" href="#"><b>Rooms</b></a>
              </li>
      
              <li class="nav-item3">
                <a class="nav-link" href="profile.html"><b>Profile</b></a>
              </li>
            </ul>
            <button class="login-btn">Log out</button>
            <!--div class="center">
              <div class="search-toggler">
                <input type="text" placeholder="Search">
                <button type="submit"><i class="fas fa-search"></i></button>
              </div>
            </div-->
          <div class="center">
              <div class="search-toggler">
                <input type="text" placeholder="Search">
                <button type="submit" class="search-button"> Search</button>
              </div>
            </div>
            
        </div>
      </div>
      <!--img src="avatar.jpg" alt="Avatar" class="avatar"-->
      </nav>
    <br><br>
    
    
      <div class="ibox-contentform2">
      
    
        <div class="card mb-3">
          <div class="card-body">
            <h2>Profile</h2>
            <br>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">User Name</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                Kenneth 
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">First Name</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                Kenneth Valdez
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Last Name</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                Admin
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Year</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                All
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Course</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                SYCS
              </div>
            </div>
           
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Joined At:</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                Sat,08 Jul 2023
              </div>
            </div>
    
            <hr>
            <div class="row">
              <div class="col-sm-12">
                <button type="Edit" class="btn btn-primary1">Edit</button>
                <!--a class="btn btn-primary1" target="__blank" href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Edit</a-->
              </div>
            </div>
          </div>
        </div>
        </div>
        </div>
        <br><br>
    
        <div class="ibox-contentform3">
          
        
        <div class="ibox-content1 forum-container">
          <h2>User Posts</h2>
          <div class="forum-item">
       
    
            <div class="row">
                <div class="col-md-9">
                
                    <div class="forum-icon">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <a href="forum_post.html" class="forum-item-title">FYCS . </a>
                    <div class="forum-sub-title">Various versions have evolved over the years, sometimes by accident, sometimes on purpose passage of Lorem Ipsum (injected humour and the like).</div>
      
                  </div>
                <div class="col-md-1 forum-info">
                    <span class="views-number">
                        1516
                    </span>
                    <div>
                        <small>Views</small>
                    </div>
                </div>
                <div class="col-md-1 forum-info">
                    <span class="views-number">
                        180
                    </span>
                    <div>
                        <small>Posts</small>
                    </div>
                </div>
            </div>
        </div>
               
    
        <div class="forum-item">
            <div class="row">
                <div class="col-md-9">
                    <div class="forum-icon">
                        <i class="fa fa-bolt"></i>
                    </div>
                    <a href="#" class="forum-item-title">SYCS</a>
                    <div class="forum-sub-title">New to the community? Please stop by, say hi and tell us a bit about yourself. </div>
                </div>
                <div class="col-md-1 forum-info">
                    <span class="views-number">
                        890
                    </span>
                    <div>
                        <small>Views</small>
                    </div>
                </div>
                
                <div class="col-md-1 forum-info">
                    <span class="views-number">
                        154
                    </span>
                    <div>
                        <small>Posts</small>
                    </div>
                </div>
            </div>
        </div>
    
      </div>
    
                </div>
            </div>
        </div>
        <br><br>

</body> 
{%endblock%}