{% extends "templateNav.html" %}

{% block title %}
Rooms
{%endblock%}

{%block head%}
<script type="text/javascript" src="{{url_for('static',filename='Javascript/Rooms.js')}}"></script>
<link href="{{url_for('static', filename='Fonts/fontawesome.min.css')}}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='CSS/Rooms.css')}}">

{%endblock%}

{%block body%}

<body onload="DisplayRooms()">
    <div id="Rooms">
        <div class="spinner-border text-danger" role="status" id="loading">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
<br>
<div class="row row-cols-lg-2 row-cols-md-1">
    
    <div class="container col-lg-9">
        <div class="row">
            <div class="col-lg-12">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="ibox-content m-b-sm border-bottom">
                        <div class="p-xs">
                            <div class="pull-left m-r-md">
                                <i class="fa fa-globe text-navy mid-icon"></i>
                            </div>
                            <h2>Welcome to our forum</h2>
                            <span>Feel free to choose topic you're interested in.</span>
                        </div>
                    </div>

                    <div class="ibox-content forum-container">
                        <div class="forum-title">
                            <h3>Rooms</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Right-side container for counts -->
    <div class="count-container col-lg-3">
        <div class="count-item">
            <h3 class="pt-3">Total Post:</h3>
            <b><span id="total-posts"></span></b>
        </div>
        <div class="count-item">
            <h3>Active Members:</h3>
            <span id="active-members"><b>50</b></span>
        </div>
    </div>
</div>
</body>
{%endblock%}